<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/frontend/public/styles/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Initial_Page</title>
</head>

<body>
    <div class="first">
        <div class="info">
            
            <img src="/frontend/public/assets/Jett.svg" alt="" class="jett">

            <header>
                <div class="imagem">
                    <img src="/frontend/public/assets/Logo.svg" alt="">
                </div>

                <div class="nav">
                        <a href="www.riot.com" class="name">
                            <h1> GAME </h1>
                        </a>
                    <a href="www.riot.com">
                        <h1> CHAMPIONS </h1>
                    </a>
                    <a href="www.riot.com">
                        <h1> NEWS </h1>
                    </a>
                    <a href="www.riot.com">
                        <h1> PATCH </h1>
                    </a>
                    <a href="www.riot.com">
                        <h1> DISCOVER </h1>
                    </a>
                    <a href="www.riot.com">
                        <h1> ESPORTS </h1>
                    </a>
                    <a href="www.riot.com">
                        <h1> UNIVERSE </h1>
                    </a>
                    <a href="www.riot.com">
                        <h1> SHOP </h1>
                    </a>
                    <a href="www.riot.com">
                        <h1> SUPORT </h1>
                    </a>
                </div>
            </header>

            <div class="elements">
                <img src="/frontend/public/assets/elements.svg" alt="">
            </div>



            <div class="box">
                <h1>Lore and Storyline</h1>
                <h3>In Valorant lore, Jett is an agile agent expert in the art of evasion. She overwhelms enemies and
                    wounds them with a blade without them knowing her position. <p>

                    </p>Of Korean origin, Jett is an agile fighter who gives priority to movement. Her abilities focus
                    on stealth with jumps that allow her to reach high ledges, teleportation, and smoke bombs. Her
                    ultimate ability gives her kunaïs that inflict moderate to heavy damage, remaining very accurate
                    even when she moves. <p>

                    </p>There are a total of six groups of weapons that players will be able to purchase at the start of
                    each round with each costing a different amount based on their power and weapon type. None of the
                    weapons are tied exclusively to a specific character, so players will be able to use any of the
                    weapons available in the FPS, no matter the character they are using for a particular match.</h3>
                </div>

            <footer>
            </footer>
            <img src="/frontend/public/assets/knife.svg" alt="" class="knife">

        </div>
    </div>

</body>

</html>